@model IEnumerable<webSecurity.ViewModels.RoleVM>

@{
        ViewData["Title"] = "Detail";
    }

<h2>@ViewBag.UserName</h2>

<p>
    @Html.ActionLink("Assign Roles", "Assign",
                     new { userName = @ViewBag.UserName })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <form asp-action="DeleteRole">
                    @{
                        string username = ViewBag.UserName;
                    }
                    <input type="hidden" name="email" asp-for="@username" asp-items="username" />
                    <input type="hidden" name="roleName" asp-for="@item.RoleName"/>
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>
